@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;500;600;700;800&family=Noto+Serif+Bengali:wght@400;500;600;700&display=swap');
@import "tailwindcss";

html {
	min-width: 320px;
	min-height: 100%;
	background: #f5f7f5;
}

body {
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

#root {
	min-height: 100vh;
}